@charset "UTF-8";
/* layout */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  width: 140px;
  margin: 18px 0 0 20px;
}

.header h1 svg {
  fill: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header h1 svg:hover {
  fill: #000;
}

.header .nav li {
  display: inline;
}

.header .nav li a {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 26px 20px;
  display: inline-block;
}

.header .nav li.live a {
  padding: 4px 20px 6px 20px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 20px;
}

.header .side-nav {
  margin-right: 40px;
}

.header .side-nav li {
  display: inline;
}

.header .side-nav li a {
  width: 25px;
  display: inline-block;
  padding: 28px 10px 20px 20px;
}

/* 배너 */
#banner {
  position: relative;
}

#banner .swiper-slide h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 82px;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

#banner .btn-quick a {
  position: absolute;
  left: 50%;
  bottom: -25px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #96c11f;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#banner .btn-quick a img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 20px;
}

#banner .swiper-pagination .icon-pause {
  position: absolute;
  left: 50%;
  top: 2px;
  margin-left: 78px;
  width: 30px;
}

#banner .swiper-pagination .icon-play {
  position: absolute;
  left: 50%;
  top: 2px;
  margin-left: 78px;
  width: 30px;
}

/* 뉴스 */
#news {
  padding: 115px 0;
  text-align: center;
}

#news h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 60px;
}

#news .swiper-slide:nth-child(even) {
  margin-top: 100px;
}

#news .swiper-slide {
  width: 458px;
}

#news .swiper-slide .info {
  text-align: left;
  padding: 30px 40px;
  position: relative;
}

#news .swiper-slide .info h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

#news .swiper-slide .info time {
  color: #999;
  font-size: 14px;
}

#news .swiper-slide .info a {
  position: absolute;
  right: 40px;
  bottom: 30px;
  text-transform: uppercase;
  color: #999;
  padding-right: 40px;
  display: none;
}

#news .swiper-slide .info a:before {
  content: '';
  width: 30px;
  height: 2px;
  background: #ca0202;
  position: absolute;
  right: 0;
  top: 8px;
}

#news .swiper-slide .info a::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ca0202;
  position: absolute;
  right: 0;
  top: 6px;
}

#news .swiper-slide:hover a {
  display: block;
}

#news .notice-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#news .notice-btn:hover {
  background: #ca0202;
  color: #fff;
}

/*news animation*/
#news.sw
#news
#news
#news
#intro h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.intro {
  text-align: center;
  padding-bottom: 100px;
}

.intro .intro-img {
  margin: -5% 8% 0;
}

.intro .intro-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.intro .intro-intro div {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  border-top: 2px solid #d70000;
  text-align: center;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro .intro-intro div h3 {
  font-size: 22px;
  font-weight: bold;
}

.intro .intro-intro div p {
  font-size: 22px;
  color: #454545;
  margin-top: 18px;
}

.intro .intro-btn {
  font-size: 17px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.intro .intro-btn:hover {
  background: #ca0202;
  color: #fff;
}

#intro h2 {
  opacity: 0;
  -webkit-transform: rotateY(100px);
          transform: rotateY(100px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.intro .intro-img {
  opacity: 0;
  -webkit-transition: all 0.4s 0.2s ease;
  transition: all 0.4s 0.2s ease;
}

#intro.show h2 {
  opacity: 1;
  -webkit-transform: rotateY(0px);
          transform: rotateY(0px);
}

#intro.show .intro .intro-img {
  opacity: 1;
  -webkit-transform: rotateY(0px);
          transform: rotateY(0px);
}

#story {
  background: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 200px;
}

#story h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

#story .story-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 150px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#story .story-btn:hover {
  background: #ca0202;
  color: #fff;
}

.story {
  position: relative;
  text-align: center;
}

.story .story-frame {
  width: 300px;
  height: 600px;
  border: 10px solid #000;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.story .swiper-slide {
  margin-top: 130px;
  width: 340px;
}

.story .swiper-slide .simg {
  width: 263px;
  height: 263px;
  margin: 0 auto;
}

.story .swiper-slide .stxt {
  text-align: left;
  padding-left: 40px;
}

.story .swiper-slide .stxt h3 {
  font-family: RedHatDisplay;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  border-bottom: 4px solid #222;
  width: 180px;
}

.story .swiper-slide .stxt time {
  font-weight: 100;
}

.story .swiper-slide .stxt p {
  padding-bottom: 100px;
  width: 243px;
  height: 26px;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.story .swiper-slide:nth-child(1) .simg {
  background: url(../img/tbanner1.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(2) .simg {
  background: url(../img/tbanner2.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(3) .simg {
  background: url(../img/tbanner3.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(4) .simg {
  background: url(../img/tbanner4.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(5) .simg {
  background: url(../img/tbanner5.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(6) .simg {
  background: url(../img/tbanner6.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(7) .simg {
  background: url(../img/tbanner7.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(8) .simg {
  background: url(../img/tbanner8.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(9) .simg {
  background: url(../img/tbanner9.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(10) .simg {
  background: url(../img/tbanner10.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(11) .simg {
  background: url(../img/tbanner11.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(12) .simg {
  background: url(../img/tbanner12.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(13) .simg {
  background: url(../img/tbanner13.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(14) .simg {
  background: url(../img/tbanner14.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(15) .simg {
  background: url(../img/tbanner15.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(16) .simg {
  background: url(../img/tbanner16.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(17) .simg {
  background: url(../img/tbanner17.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(18) .simg {
  background: url(../img/tbanner18.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(19) .simg {
  background: url(../img/tbanner19.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(20) .simg {
  background: url(../img/tbanner20.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(21) .simg {
  background: url(../img/tbanner21.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(22) .simg {
  background: url(../img/tbanner22.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(23) .simg {
  background: url(../img/tbanner23.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(24) .simg {
  background: url(../img/tbanner24.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(25) .simg {
  background: url(../img/tbanner25.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(26) .simg {
  background: url(../img/tbanner26.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(27) .simg {
  background: url(../img/tbanner27.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(28) .simg {
  background: url(../img/tbanner28.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(29) .simg {
  background: url(../img/tbanner29.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(30) .simg {
  background: url(../img/tbanner30.jpg) no-repeat center center;
  background-size: cover;
}

#world {
  padding: 100px 0;
  background: url(../img/world.png) no-repeat center top 220px;
  text-align: center;
}

#world h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

#world .world-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#world .world-btn:hover {
  background: #ca0202;
  color: #fff;
}

.world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.world div {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
}

.world div h3 {
  background: rgba(0, 0, 0, 0.3);
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.world div h3 em {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.world div p {
  border-top: 4px solid red;
  margin: 30px;
  padding: 30px;
  color: #fff;
}

/*world animation*/
#world h2 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.world div:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s 0.6s ease;
  transition: all 0.8s 0.6s ease;
}

.world div:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s 0.8s ease;
  transition: all 0.8s 0.8s ease;
}

.world div:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s 1.0s ease;
  transition: all 0.8s 1.0s ease;
}

#world .world-btn {
  display: inline-block;
  opacity: 0;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
            transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
            transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
            transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
            transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
            transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
            transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#world.show h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world div:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world div:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world div:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world-btn {
  -webkit-animation: bounceInLeft 0.6s 1.4s forwards;
          animation: bounceInLeft 0.6s 1.4s forwards;
}

#brand {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 100px;
}

#brand h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
  background: #fff;
}

#brand .brand-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#brand .brand-btn:hover {
  background: #ca0202;
  color: #fff;
}

.mbrand {
  background: url(../img/bend.png);
  height: 600px;
}

.mbrand h3 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: left;
  z-index: 10;
  padding-top: 280px;
  padding-left: 400px;
  color: #fff;
  text-transform: uppercase;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.brand div {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
  padding: 30px 20px;
  width: 80px;
}

.brand div h4 {
  border-top: 2px solid red;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.brand div figure em img {
  width: 150px;
  background: #fff;
  border-radius: 100%;
}

.brand div figure figcaption {
  font-size: 22px;
  color: #454545;
  margin-top: 18px;
}

#main_etc {
  background: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_etc a:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#main_etc a {
  padding-top: 50px;
  padding-bottom: 50px;
}

#main_etc a .subject {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}

#main_etc a #stock-value {
  color: #fff;
  font-size: 46px;
  padding: 0;
}

#main_etc a .volume li {
  font-size: 18px;
  display: inline-block;
  padding-top: 30px;
}

#main_etc a .volume li span {
  margin: 10px;
  color: #FFF;
}

#main_etc a .volume li .span3 {
  position: relative;
}

#main_etc a .volume li .span3:before {
  position: absolute;
  top: 7px;
  left: -10px;
  content: '';
  width: 1px;
  height: 15px;
  background: #fff;
}

#main_etc a strong {
  padding: 100px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

#main_etc a p {
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
}

#main_etc a .mainicon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  background: #999;
  border-radius: 100%;
  margin: 0 auto;
}

#main_etc a .mainicon2 img {
  width: 40px;
  height: 40px;
}

#main_etc a .mainicon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  background: #999;
  border-radius: 100%;
  margin: 0 auto;
}

#main_etc a .mainicon1 img {
  width: 40px;
  height: 40px;
}

#footer {
  position: relative;
  margin: 0 auto;
}

#footer .foo2 {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px 50px 50px 50px;
  width: 200px;
  height: 30px;
  position: absolute;
  right: 350px;
  top: 10px;
  display: inline-block;
  overflow: hidden;
}

#footer .foo2 span {
  padding-top: 5px;
  padding-left: 5px;
  width: 80%;
  float: left;
}

#footer .foo2 em {
  padding-top: 5px;
  width: 12%;
  float: right;
}

#footer .foobox1 {
  padding-left: 300px;
  position: relative;
}

#footer .foobox1 .foo1 {
  position: absolute;
  right: 330px;
  top: 70px;
}

#footer .foobox1 .foo1 img {
  width: 250px;
}

#footer .foobox1 ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

#footer .foobox1 ul li span {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  color: #666;
}

#footer .foobox1 ul li .sp1 {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.2);
}

#footer .foobox1 ul li p {
  padding: 5px;
  display: inline-block;
  color: #666;
}

#footer .foobox1 ul li em {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  color: #666;
}

#footer .foobox1 ul li .m1 {
  color: #539a00;
  font-weight: 900;
}

#footer .foobox1 ul li .m2 {
  color: #ff6216;
  font-weight: 900;
}

#footer .foobox1 ul li .m3 {
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */