#wrap {
  width: 100%;
  height: 969px;
  background: #000;
}

#wrap #header {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/main_img1.jpg) center center;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 .side-nav1 {
  position: fixed;
  left: -99.5vw;
  top: 0;
  width: 99.5vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 .side-nav1 .mbox1 .conbox1 {
  background: rgba(255, 255, 200, 0.1);
  display: none;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 .side-nav1 .mbox1 .conbox1 .sc-box a sc-box img {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 .navBtn1 {
  position: absolute;
  right: -98vw;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #000;
  z-index: 10;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 #logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: -20px;
  z-index: 10;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 #pr {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 30px;
  top: 600px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 #in {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 550px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg1 #em {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 630px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/main_pf1.jpg) center center;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 .side-nav2 {
  position: fixed;
  left: -99.5vw;
  top: 0;
  width: 99.5vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 .side-nav2 .mbox1 .conbox1 {
  background: rgba(255, 255, 200, 0.1);
  display: none;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 .side-nav2 .mbox1 .conbox1 .sc-box a sc-box img {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 .navBtn2 {
  position: absolute;
  right: -198vw;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 #logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: -20px;
  z-index: 10;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 #pr {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 30px;
  top: 600px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 #in {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 550px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg2 #em {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 630px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/main_pf2.jpg) center center;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 .side-nav3 {
  position: fixed;
  left: -99.5vw;
  top: 0;
  width: 99.5vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 .side-nav3 .mbox1 .conbox1 {
  background: rgba(255, 255, 200, 0.1);
  display: none;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 .side-nav3 .mbox1 .conbox1 .sc-box a sc-box img {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 .navBtn3 {
  position: absolute;
  right: -298vw;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 #logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: -20px;
  z-index: 10;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 #pr {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 30px;
  top: 600px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 #in {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 550px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg3 #em {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 630px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/main_pf3.jpg) center center;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 .side-nav4 {
  position: fixed;
  left: -99.5vw;
  top: 0;
  width: 99.5vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 .side-nav4 .mbox1 .conbox1 {
  background: rgba(255, 255, 200, 0.1);
  display: none;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 .side-nav4 .mbox1 .conbox1 .sc-box a sc-box img {
  width: 100%;
  height: 100%;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 .navBtn4 {
  position: absolute;
  right: -398vw;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 #logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: -20px;
  z-index: 10;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 #pr {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 30px;
  top: 600px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 #in {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 550px;
}

#wrap #header .swiper-container .swiper-wrapper .swiper-slide .bg4 #em {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 630px;
}
/*# sourceMappingURL=header.css.map */