#wrap {
  background-image: url(assets/img/B467A2-FAA5-4CE5-BF83-EC1C2E9EE473.large.jpg);
  background-color: #fff;
  width: 100%;
  height: 4096px;
  position: relative;
  background: #000;
}

#wrap .container2 {
  width: 100%;
}

#wrap .container2 header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 1;
}

#wrap .container2 .container1 {
  width: 1110px;
  height: 1000px;
  margin: 0 auto;
  position: absolute;
  top: -4px;
  left: 21.2%;
  background-color: #000;
}

#wrap .container2 .container1 nav {
  overflow: hidden;
  background-color: #000;
  width: 100%;
  height: 90px;
  position: relative;
}

#wrap .container2 .container1 nav .nav1 {
  display: inline-block;
  margin-top: 15px;
}

#wrap .container2 .container1 nav .nav1 a {
  margin-right: 18px;
  color: #888;
  font-size: 13px;
}

#wrap .container2 .container1 nav .nav1 a:hover {
  border-bottom: 1px solid #888;
}

#wrap .container2 .container1 nav .nav2 {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0;
}

#wrap .container2 .container1 nav .nav2 a {
  margin-left: 18px;
  color: #888;
  font-size: 13px;
}

#wrap .container2 .container1 nav .nav2 a:hover {
  border-bottom: 1px solid #888;
}

#wrap .container2 .container1 nav .nav3 {
  display: inline;
  position: absolute;
  left: 170px;
  top: 55px;
}

#wrap .container2 .container1 nav .nav3 .nav3-1 {
  margin-right: 50px;
}

#wrap .container2 .container1 nav .nav3 .nav3-1 img {
  width: 32px;
  height: 19px;
}

#wrap .container2 .container1 nav .nav3 .nav3-2 {
  margin-right: 50px;
}

#wrap .container2 .container1 nav .nav3 .nav3-2 img {
  width: 32px;
  height: 19px;
}

#wrap .container2 .container1 nav .nav3 .nav3-3 img {
  width: 32px;
  height: 19px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth1 {
  position: fixed;
  display: none;
  top: 91px;
  left: 0;
  width: 100%;
  height: 44px;
  background: #000;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth1 ul {
  position: fixed;
  top: 100px;
  left: 265px;
  text-align: center;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth1 ul li {
  display: inline;
  margin-left: 12px;
  line-height: 20px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth1 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth1 ul li a:hover {
  border-bottom: 1px solid #fff;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth2 {
  position: fixed;
  display: none;
  top: 91px;
  left: 0;
  width: 100%;
  height: 44px;
  background: #000;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth2 ul {
  position: fixed;
  top: 100px;
  left: 380px;
  text-align: center;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth2 ul li {
  display: inline;
  margin-left: 12px;
  line-height: 20px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth2 ul li a:hover {
  border-bottom: 1px solid #fff;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth3 {
  position: fixed;
  display: none;
  top: 91px;
  left: 0;
  width: 100%;
  height: 44px;
  background: #000;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth3 ul {
  position: fixed;
  top: 100px;
  left: 615px;
  text-align: center;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth3 ul li {
  display: inline;
  margin-left: 12px;
  line-height: 20px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth3 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#wrap .container2 .container1 nav .nav3 .gnb-depth3 ul li a:hover {
  border-bottom: 1px solid #fff;
}

#wrap .container2 .container1 nav .nav4 {
  display: inline;
  position: absolute;
  right: 10px;
  top: 55px;
}

#wrap .container2 .container1 nav .nav4 .nav4-1 img {
  width: 48px;
  height: 19px;
}

#wrap .container2 .container1 nav .nav4 .nav4-2 {
  margin-left: 50px;
}

#wrap .container2 .container1 nav .nav4 .nav4-2 img {
  width: 48px;
  height: 19px;
}

#wrap .container2 .container1 nav .nav4 .nav4-3 {
  margin-left: 50px;
}

#wrap .container2 .container1 nav .nav4 .nav4-3 img {
  width: 32px;
  height: 19px;
}

#wrap .container2 .container1 nav .nav4 .nav4-4 {
  margin-left: 70px;
}

#wrap .container2 .container1 nav .nav4 .nav4-4 img {
  width: 36px;
  height: 36px;
  margin-top: -8px;
}

#wrap .container2 .container1 nav .nav4 .nav4-5 {
  margin-left: 8px;
}

#wrap .container2 .container1 nav .nav4 .nav4-5 img {
  width: 22px;
  height: 22px;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth4 {
  position: fixed;
  display: none;
  top: 91px;
  left: 0;
  width: 100%;
  height: 44px;
  background: #000;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth4 ul {
  position: fixed;
  top: 100px;
  right: 325px;
  text-align: center;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth4 ul li {
  display: inline;
  margin-left: 12px;
  line-height: 20px;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth4 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth4 ul li a:hover {
  border-bottom: 1px solid #fff;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth5 {
  position: fixed;
  display: none;
  top: 91px;
  left: 0;
  width: 100%;
  height: 44px;
  background: #000;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth5 ul {
  position: fixed;
  top: 100px;
  right: 185px;
  text-align: center;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth5 ul li {
  display: inline;
  margin-left: 12px;
  line-height: 20px;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth5 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#wrap .container2 .container1 nav .nav4 .gnb-depth5 ul li a:hover {
  border-bottom: 1px solid #fff;
}

#wrap .container2 .container1 nav .navimg1 {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap .container2 .container1 nav .navimg1 img {
  margin-top: -5px;
  width: 140px;
  height: 47px;
}

#wrap .container2 .container1 nav .navimg2 {
  display: inline;
  position: absolute;
  left: 2px;
  top: 55px;
}

#wrap .container2 .container1 nav .navimg2 img {
  width: 23px;
  height: 19px;
  margin-left: 12px;
}

#wrap .container2 .container1 #cont1 .mo1 {
  display: inline;
  margin-left: 370px;
}

#wrap .container2 .container1 #cont1 .mo1 a span {
  font-size: 14px;
  color: #999999;
}

#wrap .container2 .container1 #cont1 .mo1 a svg {
  width: 1.5%;
  margin-bottom: -5px;
}

#wrap .container2 .container1 #cont1 .text1 {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 47%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#wrap .container2 .container1 #cont1 .text1 p {
  font-size: 15px;
  letter-spacing: -.5px;
  color: #fff;
  margin-bottom: 6px;
  font-weight: bold;
}

#wrap .container2 .container1 #cont1 .list ol .li1 {
  margin-right: 0px;
}

#wrap .container2 .container1 #cont1 .list ol li {
  display: inline-block;
  position: relative;
  margin-right: 38px;
}

#wrap .container2 .container1 #cont1 .list ol li span {
  color: #fff;
  position: absolute;
  top: 0px;
  left: 1vw;
  font-size: 30px;
  opacity: 1;
}

#wrap .container2 .container1 #cont1 .list ol li a img {
  width: 245px;
  height: 352px;
  border-radius: 5px;
  opacity: 1;
}

#wrap .container2 .container1 #cont1 .list ol li a .list2hovs {
  position: absolute;
  top: 0px;
  color: #fff;
  opacity: 10;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 90%;
  display: none;
}

#wrap .container2 .container1 #cont1 .list ol li a .list2hovs p {
  margin-left: 1.4vw;
  font-size: 14px;
  margin-top: 1vw;
}

#wrap .container2 .container1 #cont1 .list ol li a .list2hovs span {
  width: 90%;
  text-align: center;
  border-top: 1px solid #999;
  margin-left: 0vw;
  margin-top: 280px;
  padding-top: 10px;
  font-size: 16px;
}

#wrap .container2 .container1 #cont1 .list ol li a .list2hovs span em {
  color: #037b94;
  font-size: 25px;
}

#wrap .container2 .container1 #cont1 .list ol li a:hover .list2hovs {
  display: block;
}

#wrap .container2 .container1 #cont1 .list ol li .list2 {
  overflow: hidden;
  margin-top: 1vw;
  position: relative;
}

#wrap .container2 .container1 #cont1 .list ol li .list2 .btn {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 87px;
  height: 35px;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;
}

#wrap .container2 .container1 #cont1 .list ol li .list2 .btn svg {
  width: 17px;
  height: 15px;
  top: 10px;
  left: 10px;
  position: absolute;
}

#wrap .container2 .container1 #cont1 .list ol li .list2 .btn svg path {
  width: 17px;
}

#wrap .container2 .container1 #cont1 .list ol li .list2 .btn p {
  color: #fff;
  text-align: right;
  margin-top: 6px;
  margin-right: 20px;
  font-size: 15px;
}

#wrap .container2 .container1 #cont1 .list ol li .list2 a {
  position: absolute;
  display: inline-block;
  background-color: #037b94;
  padding: 8px 62px;
  color: #fff;
  border-radius: 5px;
}

#wrap .container2 .container1 #cont1 .Sea1 {
  margin-top: 5vw;
  background: rgba(0, 0, 0, 0.5);
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist {
  padding: 30px 0 30px 0;
  display: inline-block;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox {
  width: 273.5555px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a {
  color: #fff;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a em {
  line-height: 22px;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a em:hover {
  border-bottom: 1px solid #fff;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a .aa {
  width: 24px;
  height: 26px;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a .ab {
  width: 26px;
  height: 24px;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a .ac {
  width: 29px;
  height: 25px;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox .input {
  width: 200px;
  margin-bottom: -5px;
  border-bottom: 1px solid #423e3e;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox .input input {
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 10px;
  outline: none;
  color: #fff;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox .input button {
  width: 18px;
  height: 18px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .aboxs {
  position: relative;
}

#wrap .container2 .container1 #cont1 .Sea1 .Searchlist .aboxs::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  height: 29.6px;
  margin: 0 15px;
  border-left: 1px solid #423e3e;
}

#wrap .container3 {
  margin-top: 905px;
  width: 100%;
  height: 100px;
}

#wrap .container3 .con3 {
  background: #fff;
  height: 530px;
  margin: 0 auto;
}

#wrap .container3 .con3 .con3ct {
  margin: 0 auto;
  height: 530px;
  width: 1110px;
  position: relative;
}

#wrap .container3 .con3 .con3ct .con3img1 {
  width: 441px;
  height: 204px;
  position: absolute;
  top: 420px;
  left: 0px;
}

#wrap .container3 .con3 .con3ct .con3img1 img {
  border-radius: 10px;
}

#wrap .container3 .con3 .con3ct .con3img2 {
  width: 415px;
  height: 530px;
  border-radius: 5px;
  position: absolute;
  top: 95px;
  left: 690px;
}

#wrap .container3 .con3 .con3ct .con3img2 img {
  border-radius: 10px;
}

#wrap .container3 .con3 .con3ct .con3img3 {
  width: 204px;
  height: 204px;
  border-radius: 5px;
  position: absolute;
  top: 420px;
  left: 465px;
}

#wrap .container3 .con3 .con3ct .con3img3 img {
  border-radius: 10px;
}

#wrap .container3 .con4 {
  background: #503396;
  height: 635px;
}

#wrap .container3 .con4 .con4ct1 {
  width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#wrap .container3 .con4 .con4ct1 .con4icon1 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

#wrap .container3 .con4 .con4ct1 .con4icon1 img {
  width: 53px;
  height: 45px;
}

#wrap .container3 .con4 .con4ct1 .con4icon1 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

#wrap .container3 .con4 .con4ct1 .con4icon2 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

#wrap .container3 .con4 .con4ct1 .con4icon2 img {
  width: 40px;
  height: 45px;
}

#wrap .container3 .con4 .con4ct1 .con4icon2 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

#wrap .container3 .con4 .con4ct1 .con4icon3 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

#wrap .container3 .con4 .con4ct1 .con4icon3 img {
  width: 53px;
  height: 45px;
}

#wrap .container3 .con4 .con4ct1 .con4icon3 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

#wrap .container3 .con4 .con4ct1 .con4icon4 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

#wrap .container3 .con4 .con4ct1 .con4icon4 img {
  width: 53px;
  height: 45px;
}

#wrap .container3 .con4 .con4ct1 .con4icon4 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

#wrap .container3 .con4 .con4ct1 .con4icon5 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

#wrap .container3 .con4 .con4ct1 .con4icon5 img {
  width: 53px;
  height: 45px;
}

#wrap .container3 .con4 .con4ct1 .con4icon5 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

#wrap .container3 .con4 .con4ct1::before {
  content: '';
  width: 1110px;
  height: 1px;
  position: absolute;
  opacity: 10000;
  top: 280px;
  left: 0;
  background-color: #999;
}

#wrap .container3 .con4 .con4ct2 {
  width: 1110px;
  margin: 0 auto;
}

#wrap .container3 .con4 .con4ct2 .con4p1 {
  margin-top: 100px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 p {
  font-size: 15px;
  color: #fff;
}

#wrap .container3 .con4 .con4ct2 .con4p1 span {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg {
  margin-left: 190px;
  position: relative;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg span {
  font-size: 20px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg svg {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox img {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  top: -100px;
  left: 220px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext {
  text-align: center;
  position: absolute;
  left: 218px;
  top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext .c4it {
  margin-top: 30px;
  background: #037b94;
  font-size: 12px;
  padding: 7px 20px 7px 20px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext span {
  display: inline-block;
  margin-top: 3px;
  font-size: 14px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext p {
  font-size: 25px;
  margin-bottom: 10px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext em {
  color: #fff;
  font-size: 15px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover {
  background: #fff;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover .c4it {
  color: #fff;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover span {
  display: inline-block;
  color: #037b94;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover p {
  font-size: 25px;
  color: #037b94;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover em {
  color: #037b94;
  font-size: 15px;
}

#wrap .container3 .con4 .con4ct2 .con4p1 .con4svg::before {
  content: '';
  width: 40px;
  height: 5px;
  position: absolute;
  background-color: #fff;
  top: 20px;
  left: -190px;
}

#wrap .container4 {
  margin-top: 1065px;
  width: 100%;
  height: 850px;
  background: #252451;
}

#wrap .container4 .con5 {
  width: 1100px;
  margin: 0 auto;
}

#wrap .container4 .con5 .mo1 {
  padding: 40px 0px 40px 0px;
}

#wrap .container4 .con5 .mo1 span {
  font-size: 30px;
  color: #fff;
}

#wrap .container4 .con5 .mo1 a {
  margin-left: 839px;
}

#wrap .container4 .con5 .mo1 a span {
  font-size: 15px;
  color: #999999;
}

#wrap .container4 .con5 .mo1 a svg {
  width: 1%;
}

#wrap .container4 .con6 {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

#wrap .container4 .con6 .li1 {
  position: relative;
}

#wrap .container4 .con6 .li1 img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  height: 135px;
  width: 123px;
}

#wrap .container4 .con6 .li1 a img {
  z-index: 0;
  position: absolute;
  border-radius: 10px;
  left: 20px;
  top: 10px;
  height: 430px;
  width: 300px;
}

#wrap .container4 .con6 .li1 .con6text {
  position: absolute;
  left: 380px;
  top: 10px;
}

#wrap .container4 .con6 .li1 .con6text span {
  font-size: 20px;
  color: #FFF;
}

#wrap .container4 .con6 .li1 .con6text p {
  padding-bottom: 30px;
  font-size: 36px;
  color: #FFF;
  position: relative;
}

#wrap .container4 .con6 .li1 .con6text p::before {
  position: absolute;
  bottom: 10px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

#wrap .container4 .con6 .li1 .con6text em {
  display: inline-block;
  font-size: 15px;
  color: #FFF;
  margin-bottom: 30px;
}

#wrap .container4 .con6 .li1 .con6text .con6t2 {
  display: inline-block;
  font-size: 13px;
  color: #FFF;
}

#wrap .container4 .con6 .li1 .list2 {
  position: absolute;
  left: 20px;
  top: 470px;
}

#wrap .container4 .con6 .li1 .list2 span {
  border-radius: 10px;
  padding: 11px 34px 11px 34px;
  font-size: 20px;
  color: #FFF;
  border: 1px solid #fff;
}

#wrap .container4 .con6 .li1 .list2 a {
  border-radius: 10px;
  padding: 12px 55px 12px 55px;
  background-color: #037b94;
  font-size: 20px;
  color: #FFF;
}

#wrap .container4 .con6 ol {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 300px;
  margin-left: 360px;
}

#wrap .container4 .con6 ol li {
  position: relative;
  padding-left: 20px;
}

#wrap .container4 .con6 ol li .logo img {
  position: absolute;
  top: -10px;
  left: 30px;
  z-index: 2;
  height: 50px;
  width: 35px;
}

#wrap .container4 .con6 ol li a img {
  z-index: 0;
  border-radius: 10px;
  height: 244px;
  width: 170px;
}

#wrap .container5 {
  width: 100%;
  height: 650px;
  background-color: #fff;
  position: relative;
}

#wrap .container5 .con5-1 {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 40px;
}

#wrap .container5 .con5-1 p {
  color: #351f66;
  font-size: 28px;
}

#wrap .container5 .con5-2 {
  margin: 0 auto;
  width: 1100px;
  height: 177px;
}

#wrap .container5 .con5-2 .con5-2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox1 {
  height: 170px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox1 .co5imgbox1-1 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-boutique.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox1 .co5imgbox1-1:hover {
  background-position: 0 -170px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox2 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox2 .co5imgbox1-2 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-mx.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox2 .co5imgbox1-2:hover {
  background-position: 0 -170px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox3 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox3 .co5imgbox1-3 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-comfort.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox3 .co5imgbox1-3:hover {
  background-position: 0 -170px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox4 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox4 .co5imgbox1-4 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-kids.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox4 .co5imgbox1-4:hover {
  background-position: 0 -170px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox5 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox5 .co5imgbox1-5 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-first.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

#wrap .container5 .con5-2 .con5-2-1 .co5imgbox5 .co5imgbox1-5:hover {
  background-position: 0 -170px;
}

#wrap .container5 .con5-3 {
  width: 1100px;
  margin: 0 auto;
}

#wrap .container5 .con5-3 .con5-3-1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap .container5 .con5-3 .con5-3-1 span {
  font-size: 15px;
  color: #222;
  padding: 0px 175px 0px 0px;
}

#wrap .container5 .con5-3 .con5-3-1 em {
  font-size: 15px;
  color: #01738b;
}

#wrap .container5 .con5-3 .con5-3-1 p {
  font-size: 15px;
  color: #222;
  padding-right: 360px;
}

#wrap .container5 .con5-3 .con5-3-1 time {
  font-size: 15px;
  color: #666;
  padding-right: 30px;
}

#wrap .container5 .con5-3 .con5-3-1 .con5-3-2 span {
  font-size: 15px;
  color: #444;
  padding: 0px;
}

#wrap .container5 .con5-3 .con5-3-1 .con5-3-2 span svg {
  width: 15px;
  height: 15px;
}

#wrap .container5 .con5-4 {
  width: 1100px;
  margin: 0 auto;
}

#wrap .container5 .con5-4 .con5-4-1 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box1 {
  width: 183px;
  height: 89px;
  text-align: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box1 img {
  width: 46px;
  height: 46px;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box1 span {
  font-size: 15px;
  color: #222;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box2 {
  width: 183px;
  height: 89px;
  text-align: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box2 img {
  width: 50px;
  height: 46px;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box2 span {
  font-size: 15px;
  color: #222;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box3 {
  width: 183px;
  height: 89px;
  text-align: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box3 img {
  width: 43px;
  height: 43px;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box3 span {
  font-size: 15px;
  color: #222;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box4 {
  width: 183px;
  height: 89px;
  text-align: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box4 img {
  width: 50px;
  height: 38px;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box4 span {
  font-size: 15px;
  color: #222;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box5 {
  width: 183px;
  height: 89px;
  text-align: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box5 img {
  width: 51px;
  height: 39px;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box5 span {
  font-size: 15px;
  color: #222;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box6 {
  width: 183px;
  height: 89px;
  margin-bottom: 30px;
  text-align: center;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box6 img {
  width: 48px;
  height: 40px;
}

#wrap .container5 .con5-4 .con5-4-1 .con5-4box6 span {
  font-size: 15px;
  color: #222;
}

#wrap .container5::after {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 250px;
}

#wrap .container5::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 300px;
}

#wrap .container6 {
  background-color: #4f79a9;
}

#wrap .container6 .container6-1 {
  width: 1100px;
  margin: 0 auto;
}

.on {
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
}
/*# sourceMappingURL=header.css.map */