@import url("https://fonts.googleapis.com/css?family=Abel");
body {
  background-image: url(../img/B467A2-FAA5-4CE5-BF83-EC1C2E9EE473.large.jpg);
  background-size: 2500px;
  background-position: -350px 0px;
}

@font-face {
  body {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
  }
}

@font-face {
  body {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
  }
}

@font-face {
  body {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
  }
}

body .nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap {
  background-color: #fff;
  width: 100%;
  height: 4075px;
  background-color: rgba(0, 0, 0, 0.8);
}

body #wrap .container2 {
  width: 100%;
}

body #wrap .container2 header {
  width: 100%;
  height: 20px;
  opacity: 1;
  padding-top: 10px;
  position: relative;
}

body #wrap .container2 header .htext ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #wrap .container2 header .htext ul li:nth-child(1) {
  margin-left: 0px;
}

body #wrap .container2 header .htext ul li:nth-child(2) {
  margin-left: 30px;
}

body #wrap .container2 header .htext ul li:nth-child(3) {
  margin-left: 30px;
  margin-right: 700px;
}

body #wrap .container2 header .htext ul li:nth-child(4) {
  margin-right: 30px;
}

body #wrap .container2 header .htext ul li:nth-child(5) {
  margin-right: 30px;
}

body #wrap .container2 header .htext ul li a {
  color: rgba(255, 255, 255, 0.8);
}

body #wrap .container2 header .htext:before {
  content: '';
  width: 100%;
  height: 1px;
  bottom: -60px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

body #wrap .container2 .container1 {
  width: 1100px;
  height: 50px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
}

body #wrap .container2 .container1 * {
  padding: 0;
  margin: 0;
}

body #wrap .container2 .container1 a {
  text-decoration: none;
  color: #666;
}

body #wrap .container2 .container1 li {
  list-style: none;
}

body #wrap .container2 .container1 body {
  background: #0137a1 url(https://tistory3.daumcdn.net/tistory/2808281/skin/images/background05.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Abel', sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #wrap .container2 .container1 body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(4, 127, 21, 0.9);
  width: 100%;
  height: 100%;
}

body #wrap .container2 .container1 nav {
  position: relative;
}

body #wrap .container2 .container1 nav ul {
  display: inline-block;
}

body #wrap .container2 .container1 nav ul .logo {
  display: inline;
}

body #wrap .container2 .container1 nav ul .logo img {
  width: 140px;
  height: 47px;
}

body #wrap .container2 .container1 nav ul .ico1 {
  display: inline-block;
  top: 0;
  left: 0px;
  margin-right: 20px;
}

body #wrap .container2 .container1 nav ul .ico1 img {
  width: 25px;
  height: 20px;
}

body #wrap .container2 .container1 nav ul .ico2 {
  display: inline-block;
}

body #wrap .container2 .container1 nav ul .ico2 img {
  width: 20px;
  height: 20px;
}

body #wrap .container2 .container1 nav ul .ico3 {
  display: inline-block;
  margin-right: 20px;
}

body #wrap .container2 .container1 nav ul .ico3 img {
  width: 36px;
  height: 36px;
}

body #wrap .container2 .container1 nav ul .ico4 {
  display: inline-block;
}

body #wrap .container2 .container1 nav ul .ico4 img {
  width: 24px;
  height: 25px;
}

body #wrap .container2 .container1 nav ul li {
  display: inline-block;
}

body #wrap .container2 .container1 nav ul li a {
  font-weight: bold;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body #wrap .container2 .container1 nav ul li a:hover {
  color: #F8A714;
}

body #wrap .container2 .container1 nav ul li .subMenu {
  display: none;
  position: absolute;
  left: 50%;
  top: 52px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  color: #000;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

body #wrap .container2 .container1 nav ul li .subMenu li {
  margin: 0;
}

body #wrap .container2 .container1 nav ul li:nth-child(3) {
  margin-left: 80px;
}

body #wrap .container2 .container1 nav ul li:nth-child(3) {
  margin-right: 0px;
}

body #wrap .container2 .container1 nav ul li:nth-child(5) {
  margin-right: 60px;
}

body #wrap .container2 .container1 nav ul li:nth-child(7) {
  margin-left: 60px;
}

body #wrap .container2 .container1 #cont1 .mo1 {
  display: inline;
  margin-left: 370px;
}

body #wrap .container2 .container1 #cont1 .mo1 a span {
  font-size: 14px;
  color: #999999;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container2 .container1 #cont1 .mo1 a svg {
  width: 1.5%;
  margin-bottom: -5px;
}

body #wrap .container2 .container1 #cont1 .text1 {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 47%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

body #wrap .container2 .container1 #cont1 .text1 p {
  font-size: 15px;
  letter-spacing: -.5px;
  color: #fff;
  margin-bottom: 6px;
  font-weight: bold;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container2 .container1 #cont1 .list ol .li1 {
  margin-right: 0px;
}

body #wrap .container2 .container1 #cont1 .list ol li {
  display: inline-block;
  position: relative;
  margin-right: 34px;
}

body #wrap .container2 .container1 #cont1 .list ol li span {
  color: #fff;
  position: absolute;
  top: 0px;
  left: 1vw;
  font-size: 30px;
  font-family: 'NanumBarunGothic', sans-serif;
  opacity: 1;
}

body #wrap .container2 .container1 #cont1 .list ol li a img {
  width: 245px;
  height: 352px;
  border-radius: 5px;
  opacity: 1;
}

body #wrap .container2 .container1 #cont1 .list ol li a .list2hovs {
  position: absolute;
  top: 0px;
  color: #fff;
  opacity: 10;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 90%;
  display: none;
}

body #wrap .container2 .container1 #cont1 .list ol li a .list2hovs p {
  margin-left: 1.4vw;
  font-size: 14px;
  font-family: 'NanumBarunGothic', sans-serif;
  margin-top: 1vw;
}

body #wrap .container2 .container1 #cont1 .list ol li a .list2hovs span {
  width: 90%;
  text-align: center;
  border-top: 1px solid #999;
  margin-left: 0vw;
  margin-top: 280px;
  padding-top: 10px;
  font-size: 16px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container2 .container1 #cont1 .list ol li a .list2hovs span em {
  color: #037b94;
  font-size: 25px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container2 .container1 #cont1 .list ol li a:hover .list2hovs {
  display: block;
}

body #wrap .container2 .container1 #cont1 .list ol li .list2 {
  overflow: hidden;
  margin-top: 1vw;
  position: relative;
}

body #wrap .container2 .container1 #cont1 .list ol li .list2 .btn {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 87px;
  height: 35px;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;
}

body #wrap .container2 .container1 #cont1 .list ol li .list2 .btn svg {
  width: 17px;
  height: 15px;
  top: 10px;
  left: 10px;
  position: absolute;
}

body #wrap .container2 .container1 #cont1 .list ol li .list2 .btn svg path {
  width: 17px;
}

body #wrap .container2 .container1 #cont1 .list ol li .list2 .btn p {
  color: #fff;
  text-align: right;
  margin-top: 6px;
  margin-right: 20px;
  font-size: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container2 .container1 #cont1 .list ol li .list2 a {
  position: absolute;
  display: inline-block;
  background-color: #037b94;
  padding: 8px 62px;
  color: #fff;
  border-radius: 5px;
}

body #wrap .container2 .container1 #cont1 .Sea1 {
  margin-top: 5vw;
  background: rgba(0, 0, 0, 0.5);
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist {
  padding: 30px 0 30px 0;
  display: inline-block;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox {
  width: 270px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a {
  color: #fff;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a em {
  line-height: 22px;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a em:hover {
  border-bottom: 1px solid #fff;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a .aa {
  width: 24px;
  height: 26px;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a .ab {
  width: 26px;
  height: 24px;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox a .ac {
  width: 29px;
  height: 25px;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox .input {
  width: 200px;
  margin-bottom: -5px;
  border-bottom: 1px solid #423e3e;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox .input input {
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 10px;
  outline: none;
  color: #fff;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .abox .input button {
  width: 18px;
  height: 18px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .aboxs {
  position: relative;
}

body #wrap .container2 .container1 #cont1 .Sea1 .Searchlist .aboxs::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  height: 29.6px;
  margin: 0 15px;
  border-left: 1px solid #423e3e;
}

body #wrap .container3 {
  margin-top: 905px;
  width: 100%;
  height: 100px;
}

body #wrap .container3 .con3 {
  background: #fff;
  height: 530px;
  margin: 0 auto;
}

body #wrap .container3 .con3 p {
  display: inline-block;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #351f66;
}

body #wrap .container3 .con3 .con3ct {
  margin: 0 auto;
  height: 530px;
  width: 1110px;
  position: relative;
}

body #wrap .container3 .con3 .con3ct .con3img1 {
  width: 441px;
  height: 204px;
  position: absolute;
  top: 420px;
  left: 0px;
}

body #wrap .container3 .con3 .con3ct .con3img1 img {
  border-radius: 10px;
}

body #wrap .container3 .con3 .con3ct .con3img2 {
  width: 415px;
  height: 530px;
  border-radius: 5px;
  position: absolute;
  top: 95px;
  left: 690px;
}

body #wrap .container3 .con3 .con3ct .con3img2 img {
  border-radius: 10px;
}

body #wrap .container3 .con3 .con3ct .con3img3 {
  width: 204px;
  height: 204px;
  border-radius: 5px;
  position: absolute;
  top: 420px;
  left: 465px;
}

body #wrap .container3 .con3 .con3ct .con3img3 img {
  border-radius: 10px;
}

body #wrap .container3 .con3 .con3ct .con3img4 {
  width: 685px;
  height: 204px;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 0px;
}

body #wrap .container3 .con3 .con3ct .con3img4 img {
  border-radius: 10px;
}

body #wrap .container3 .con4 {
  background: #503396;
  height: 635px;
}

body #wrap .container3 .con4 .con4ct1 {
  width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #wrap .container3 .con4 .con4ct1 .con4icon1 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

body #wrap .container3 .con4 .con4ct1 .con4icon1 img {
  width: 53px;
  height: 45px;
}

body #wrap .container3 .con4 .con4ct1 .con4icon1 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct1 .con4icon2 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

body #wrap .container3 .con4 .con4ct1 .con4icon2 img {
  width: 40px;
  height: 45px;
}

body #wrap .container3 .con4 .con4ct1 .con4icon2 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct1 .con4icon3 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

body #wrap .container3 .con4 .con4ct1 .con4icon3 img {
  width: 53px;
  height: 45px;
}

body #wrap .container3 .con4 .con4ct1 .con4icon3 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct1 .con4icon4 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

body #wrap .container3 .con4 .con4ct1 .con4icon4 img {
  width: 53px;
  height: 45px;
}

body #wrap .container3 .con4 .con4ct1 .con4icon4 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct1 .con4icon5 {
  margin-top: 150px;
  width: 222px;
  text-align: center;
}

body #wrap .container3 .con4 .con4ct1 .con4icon5 img {
  width: 53px;
  height: 45px;
}

body #wrap .container3 .con4 .con4ct1 .con4icon5 p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct1::before {
  content: '';
  width: 1110px;
  height: 1px;
  position: absolute;
  opacity: 10000;
  top: 280px;
  left: 0;
  background-color: #999;
}

body #wrap .container3 .con4 .con4ct2 {
  width: 1110px;
  margin: 0 auto;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 {
  margin-top: 100px;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 p {
  font-size: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #fff;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 span {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg {
  margin-left: 190px;
  position: relative;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg span {
  font-size: 20px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg svg {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox img {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  top: -100px;
  left: 220px;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext {
  text-align: center;
  position: absolute;
  left: 218px;
  top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext .c4it {
  margin-top: 30px;
  background: #037b94;
  font-size: 12px;
  font-family: 'NanumBarunGothic', sans-serif;
  padding: 7px 20px 7px 20px;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext span {
  display: inline-block;
  margin-top: 3px;
  font-size: 14px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext p {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext em {
  color: #fff;
  font-size: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover {
  background: #fff;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover .c4it {
  color: #fff;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover span {
  display: inline-block;
  color: #037b94;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover p {
  font-size: 25px;
  color: #037b94;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg .con4imgbox .c4iboxtext:hover em {
  color: #037b94;
  font-size: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container3 .con4 .con4ct2 .con4p1 .con4svg::before {
  content: '';
  width: 40px;
  height: 5px;
  position: absolute;
  background-color: #fff;
  top: 20px;
  left: -190px;
}

body #wrap .container4 {
  margin-top: 1065px;
  width: 100%;
  height: 850px;
  background: #252451;
}

body #wrap .container4 .con5 {
  width: 1100px;
  margin: 0 auto;
}

body #wrap .container4 .con5 .mo1 {
  padding: 40px 0px 40px 0px;
}

body #wrap .container4 .con5 .mo1 span {
  font-size: 30px;
  color: #fff;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 600;
}

body #wrap .container4 .con5 .mo1 a {
  margin-left: 839px;
}

body #wrap .container4 .con5 .mo1 a span {
  font-size: 15px;
  color: #999999;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container4 .con5 .mo1 a svg {
  width: 1%;
}

body #wrap .container4 .con6 {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

body #wrap .container4 .con6 .li1 {
  position: relative;
}

body #wrap .container4 .con6 .li1 img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  height: 135px;
  width: 123px;
}

body #wrap .container4 .con6 .li1 a img {
  z-index: 0;
  position: absolute;
  border-radius: 10px;
  left: 20px;
  top: 10px;
  height: 430px;
  width: 300px;
}

body #wrap .container4 .con6 .li1 .con6text {
  position: absolute;
  left: 370px;
  top: 10px;
}

body #wrap .container4 .con6 .li1 .con6text span {
  font-size: 20px;
  color: #FFF;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 600;
}

body #wrap .container4 .con6 .li1 .con6text p {
  padding-bottom: 30px;
  font-size: 36px;
  color: #FFF;
  font-family: 'NanumBarunGothic', sans-serif;
  position: relative;
  font-weight: 600;
}

body #wrap .container4 .con6 .li1 .con6text p::before {
  position: absolute;
  bottom: 10px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

body #wrap .container4 .con6 .li1 .con6text em {
  display: inline-block;
  font-size: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #FFF;
  margin-bottom: 30px;
  font-weight: 600;
}

body #wrap .container4 .con6 .li1 .con6text .con6t2 {
  display: inline-block;
  font-size: 13.22px;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #FFF;
  font-weight: 600;
}

body #wrap .container4 .con6 .li1 .list2 {
  position: absolute;
  left: 20px;
  top: 470px;
}

body #wrap .container4 .con6 .li1 .list2 span {
  border-radius: 10px;
  padding: 11px 34px 11px 34px;
  font-size: 20px;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #FFF;
  border: 1px solid #fff;
}

body #wrap .container4 .con6 .li1 .list2 a {
  border-radius: 10px;
  padding: 12px 55px 12px 55px;
  background-color: #037b94;
  font-size: 20px;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #FFF;
}

body #wrap .container4 .con6 ol {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 300px;
  margin-left: 360px;
}

body #wrap .container4 .con6 ol li {
  position: relative;
  padding-left: 20px;
}

body #wrap .container4 .con6 ol li .logo img {
  position: absolute;
  top: -10px;
  left: 30px;
  z-index: 2;
  height: 50px;
  width: 35px;
}

body #wrap .container4 .con6 ol li a img {
  z-index: 0;
  border-radius: 10px;
  height: 244px;
  width: 170px;
}

body #wrap .container5 {
  width: 100%;
  height: 650px;
  background-color: #fff;
  position: relative;
}

body #wrap .container5 .con5-1 {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 40px;
}

body #wrap .container5 .con5-1 p {
  color: #351f66;
  font-size: 28px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 600;
}

body #wrap .container5 .con5-2 {
  margin: 0 auto;
  width: 1100px;
  height: 177px;
}

body #wrap .container5 .con5-2 .con5-2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox1 {
  height: 170px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox1 .co5imgbox1-1 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-boutique.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox1 .co5imgbox1-1:hover {
  background-position: 0 -170px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox2 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox2 .co5imgbox1-2 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-mx.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox2 .co5imgbox1-2:hover {
  background-position: 0 -170px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox3 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox3 .co5imgbox1-3 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-comfort.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox3 .co5imgbox1-3:hover {
  background-position: 0 -170px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox4 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox4 .co5imgbox1-4 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-kids.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox4 .co5imgbox1-4:hover {
  background-position: 0 -170px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox5 {
  height: 170px;
  width: 170px;
  margin-left: 16px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox5 .co5imgbox1-5 {
  height: 170px;
  width: 170px;
  background: url(../img/con5/bg-main-megainfo-first.png);
  background-position-x: 0px;
  background-size: 170px;
  border-radius: 10px;
}

body #wrap .container5 .con5-2 .con5-2-1 .co5imgbox5 .co5imgbox1-5:hover {
  background-position: 0 -170px;
}

body #wrap .container5 .con5-3 {
  width: 1100px;
  margin: 0 auto;
}

body #wrap .container5 .con5-3 .con5-3-1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #wrap .container5 .con5-3 .con5-3-1 span {
  font-size: 15px;
  color: #222;
  font-family: 'NanumBarunGothic', sans-serif;
  padding: 0px 60px 0px 0px;
  font-weight: 600;
}

body #wrap .container5 .con5-3 .con5-3-1 em {
  font-size: 15px;
  color: #01738b;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: bolder;
}

body #wrap .container5 .con5-3 .con5-3-1 p {
  font-size: 15px;
  color: #222;
  padding-right: 470px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 700;
}

body #wrap .container5 .con5-3 .con5-3-1 time {
  font-size: 15px;
  color: #666;
  padding-right: 30px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 700;
}

body #wrap .container5 .con5-3 .con5-3-1 .con5-3-2 span {
  font-size: 15px;
  color: #444;
  padding: 0px;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container5 .con5-3 .con5-3-1 .con5-3-2 span svg {
  width: 15px;
  height: 15px;
}

body #wrap .container5 .con5-4 {
  width: 1100px;
  margin: 0 auto;
}

body #wrap .container5 .con5-4 .con5-4-1 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box1 {
  width: 183px;
  height: 89px;
  text-align: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box1 img {
  width: 46px;
  height: 46px;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box1 span {
  font-size: 15px;
  color: #666;
  font-weight: 700;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box2 {
  width: 183px;
  height: 89px;
  text-align: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box2 img {
  width: 50px;
  height: 46px;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box2 span {
  font-size: 15px;
  color: #666;
  font-weight: 700;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box3 {
  width: 183px;
  height: 89px;
  text-align: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box3 img {
  width: 43px;
  height: 43px;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box3 span {
  font-size: 15px;
  color: #666;
  font-weight: 700;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box4 {
  width: 183px;
  height: 89px;
  text-align: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box4 img {
  width: 50px;
  height: 38px;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box4 span {
  font-size: 15px;
  color: #666;
  font-weight: 700;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box5 {
  width: 183px;
  height: 89px;
  text-align: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box5 img {
  width: 51px;
  height: 39px;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box5 span {
  font-size: 15px;
  color: #666;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 700;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box6 {
  width: 183px;
  height: 89px;
  margin-bottom: 30px;
  text-align: center;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box6 img {
  width: 48px;
  height: 40px;
}

body #wrap .container5 .con5-4 .con5-4-1 .con5-4box6 span {
  font-size: 15px;
  color: #666;
  font-weight: 700;
  font-family: 'NanumBarunGothic', sans-serif;
}

body #wrap .container5::after {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 245px;
}

body #wrap .container5::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 310px;
}

body #wrap .container6 {
  background-color: #4f79a9;
}

body #wrap .container6 .container6-1 {
  width: 1100px;
  margin: 0 auto;
}

body #wrap footer {
  width: 100%;
  height: 200px;
  background-color: #f8f8fa;
}

body #wrap footer .footerBox {
  width: 1100px;
  height: 200px;
  margin: 0 auto;
  background-color: #f8f8fa;
}

body #wrap footer .footerBox .footer-top ul li {
  display: inline-block;
  margin-top: 30px;
  font-size: 13px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 300;
  padding-right: 20px;
}

body #wrap footer .footerBox .footer-top ul li img {
  margin-left: 277px;
  display: inline-block;
  margin-top: -10px;
  width: 126px;
  height: 50px;
}

body #wrap footer .footerBox .footer-top ul .foostro {
  font-weight: 700;
}

body #wrap footer .footer-bott {
  position: relative;
}

body #wrap footer .footer-bott .fbox1 {
  position: absolute;
  top: 20px;
  left: 0;
}

body #wrap footer .footer-bott .fbox1 img {
  width: 150px;
  height: 50px;
}

body #wrap footer .footer-bott .fbox2 {
  position: absolute;
  top: 10px;
  left: 160px;
}

body #wrap footer .footer-bott .fbox3 {
  position: absolute;
  top: 20px;
  right: 0;
}

body #wrap footer .footer-bott .fbox3 img {
  width: 31px;
  height: 30px;
}
/*# sourceMappingURL=header.css.map */