#wrap{
    background-image: url(assets/img/B467A2-FAA5-4CE5-BF83-EC1C2E9EE473.large.jpg);
    width: 100%;
    height: 4096px;
   .container{
        width: 80%;
        margin: 0 auto;
        nav{
            overflow: hidden;
            background-color: #000;
            width: 100%;
            height: 90px;
            .nav1{
                display: inline;
                float: left;
                a{
                    margin-left: 20px;
                    color:#888;
                    font-size: .8667em;
                }
            }
            .nav2{
                display: inline;
                float: right;
                a{
                    margin-left: 20px;
                    color:#888;
                    font-size: .8667em;
                }
            }
            .nav3{
                display: inline;
                .nav3-1{
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
                .nav3-2{
                    width: 10%;
                    height: 30px;
                }
                .nav3-3{
                    width: 10%;
                    height: 30px;
                }
            }
            .nav4{
                display: inline;
                .nav4-1{}
                .nav4-2{}
                .nav4-3{}
            }
            .navimg1{
                display: inline;
                display: flex;
                justify-content: center;
                img{
                    margin-top: 20px;
                    width: 140px;
                    height: 47px;
                }
            }
            .navimg2{
                display: inline;
                img{
                    width: 36px;
                    height: 36px;
                }
            }
            .navimg3{
                display: inline;
                img{
                    width: 36px;
                    height: 36px;
                }
            }



        }
   }
}