/* reset */
* {margin: 0; padding: 0;}
a {color: #000; text-decoration: none}
li {list-style: none;}
.clearfix::before, .clearfix::after {content: ''; clear: both; display: block;}

/* 레이아웃 */
#wrap {width: 1200px; margin: 0 auto; color: #fff;}

/* header */
#header {text-align: center;  background: #26a69a;}
#header .logo {float: left; width: 250px; height: 100px; line-height: 100px; background: #b2dfdb;}
#header .nav {float: right; width: 600px; margin-top: 28px; background: #009688;}
#header .nav li {position: relative;  float: left; width: 25%; text-align: center;}
#header .nav li a {display: block; font-size: 20px; padding: 10px;  color: #fff;}
#header .nav li a:hover {background: rgba(0, 0, 0, 0.2);}
#header .nav li ul.submenu {display: none; position: absolute; left: 0; top: 47px; background: #009688;}
#header .nav li ul.submenu li {width: 100%;}

/* banner */
#banner {height: 300px; background: #4db6ac; text-align: center; line-height: 300px;}

/* contents */
#contents {text-align: center; line-height: 200px;}
#contents > div {float: left; width: 400px; height: 200px;}
#contents > div.cont1 {background: #26a69a; text-align: center;}
#contents > div.cont2 {background: #009688; text-align: center;}
#contents > div.cont3 {background: #00897b; text-align: center;}

/* footer */
#footer {text-align: center; line-height: 100px;}
#footer .foot1 {float: left; width: 200px; height: 100px; background: #00796b;}
#footer .foot2 {float: left; width: 800px; height: 100px; background: #00695c;}
#footer .foot3 {float: left; width: 200px; height: 100px; background: #004d40;}