@charset "UTF-8";
/* 폰트 */
/* 레이아웃 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  -webkit-transition: top 0.6s ease;
  transition: top 0.6s ease;
}

#header.on {
  top: -200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* 헤더 */
.header-unb {
  height: 45px;
  background-color: #f4f4f4;
}

.header-unb ul {
  display: table;
  margin: 0 auto;
}

.header-unb ul li {
  display: table-cell;
  text-align: center;
  width: 168px;
  height: 45px;
  padding: 0 10px;
  position: relative;
}

.header-unb ul li a {
  display: inline-block;
  padding-top: 10px;
  font-weight: bold;
  color: #999;
}

.header-unb ul .active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90%;
  height: 4px;
  border-bottom: 4px solid #96c11f;
}

.header-unb ul .active a {
  color: #000;
}

.header-unb ul #category-brand:hover {
  position: relative;
}

.header-unb ul #category-brand:hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90%;
  height: 4px;
  border-bottom: 4px solid #da1009;
}

.header-unb ul #category-brand:hover a {
  color: #000;
}

.header-unb ul #category-noodlefoodle:hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90%;
  height: 4px;
  border-bottom: 4px solid #fe8100;
}

.header-unb ul #category-noodlefoodle:hover a {
  color: #000;
}

.header-unb ul #category-recruit:hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90%;
  height: 4px;
  border-bottom: 4px solid #47b3ea;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.header-unb ul #category-recruit:hover a {
  color: #000;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header h1 {
  width: 140px;
  margin: 18px 0 0 20px;
}

.header h1 svg {
  fill: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .nav li {
  display: inline;
}

.header .nav li a {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 26px 20px;
  display: inline-block;
}

.header .nav li a span {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .nav li a span:hover::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 0;
  border-top: 2px solid #d83832;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .nav li.live a {
  padding: 26px 20px 26px 0;
  position: absolute;
}

.header .nav li.live a svg {
  width: 86px;
  position: relative;
  top: -5px;
  left: 0;
}

.header .side-nav {
  margin-right: 40px;
}

.header .side-nav li {
  display: inline;
}

.header .side-nav li a {
  width: 25px;
  display: inline-block;
  padding: 28px 10px 20px 20px;
}

.header .side-nav li a svg {
  fill: #fff;
}

.header:hover {
  background: #fff;
  color: #000;
}

.header:hover h1 svg {
  fill: #000;
}

.header:hover .nav li a {
  color: #000;
}

.header:hover .nav li.live svg g .st1 {
  fill: #000;
}

.header:hover .side-nav li a svg {
  fill: #000;
}

.header.White {
  background: #fff;
  height: 80px;
  border-bottom: 1px solid #999;
}

.header.White h1 svg {
  fill: #000;
}

.header.White .nav li a {
  color: #000;
}

.header.White .nav li.live svg g .st1 {
  fill: #000;
}

.header.White .side-nav li a svg {
  fill: #000;
}

.page-navigation {
  z-index: 80;
  top: 125px;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.page-navigation .container-fluit {
  padding: 15px 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-navigation .container-fluit .row {
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.page-navigation .container-fluit .row .col {
  padding: 0 15px;
}

.page-navigation .container-fluit .row .col .page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.page-navigation .container-fluit .row .col .page-nav .page-nav-a {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 13px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
}

.page-navigation .container-fluit .row .col .page-nav .page-nav-a svg {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 16px;
  height: 12px;
}

.page-navigation .container-fluit .row .col .page-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
}

.page-navigation .container-fluit .row .col .page-nav .nav-list .nav-item {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-right: 36px;
  padding-bottom: 10px;
  font-weight: bold;
}

.page-navigation .container-fluit .row .col .page-nav .nav-list .nav-item.after:after {
  content: '/';
  display: block;
  position: absolute;
  top: 13px;
  right: 15px;
  line-height: 14px;
}

.page-navigation .container-fluit .row .col .page-nav .nav-item-select-wrap {
  position: relative;
}

.page-navigation .container-fluit .row .col .page-nav .nav-item-select-wrap .nav-item {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2px;
  vertical-align: top;
  font-weight: bold;
}

.page-navigation .container-fluit .row .col .page-nav .nav-item-select-wrap .nav-item-a {
  display: inline-block;
  width: 30px;
  height: 40px;
  padding: 8px 7px 6px 5px;
  vertical-align: top;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  top: -20%;
  left: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-navigation .container-fluit .row .col .page-nav .nav-item-select-wrap .nav-item-a:hover::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 0;
  border-top: 2px solid #d83832;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-navigation .container-fluit .row .col-auto {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
}

.page-navigation .container-fluit .row .col-auto #btn-pn-more {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #fff;
  position: absolute;
  top: -100%;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-navigation .container-fluit .row .col-auto #btn-pn-more svg {
  margin-top: 20%;
}

.page-navigation .container-fluit .row .col-auto #btn-pn-more:hover::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 0;
  border-top: 2px solid #d83832;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-navigation:hover {
  border-color: #fff;
  background: #fff;
}

.page-navigation:hover .row .col .page-nav {
  color: #fff;
}

.page-navigation:hover .row .col .page-nav .page-nav-a {
  border: 1px solid #e6e6e6;
}

.page-navigation:hover .row .col .page-nav .page-nav-a svg g path {
  fill: #000;
}

.page-navigation:hover .row .col .page-nav .nav-list .nav-item {
  color: #000;
}

.page-navigation:hover .row .col .page-nav .nav-item {
  color: #000;
}

.page-navigation:hover .row .col .page-nav .nav-item-a svg path {
  fill: #000;
}

.page-navigation:hover .row .col-auto #btn-pn-more {
  border: 1px solid #e6e6e6;
}

.page-navigation:hover .row .col-auto #btn-pn-more svg g path {
  fill: #000;
}

.page-navigation.White .container-fluit {
  border-color: #fff;
  background: #fff;
}

.page-navigation.White .container-fluit .row .col .page-nav {
  color: #fff;
}

.page-navigation.White .container-fluit .row .col .page-nav .page-nav-a {
  border: 1px solid #e6e6e6;
}

.page-navigation.White .container-fluit .row .col .page-nav .page-nav-a svg g path {
  fill: #000;
}

.page-navigation.White .container-fluit .row .col .page-nav .nav-list .nav-item {
  color: #000;
}

.page-navigation.White .container-fluit .row .col .page-nav .nav-item {
  color: #000;
}

.page-navigation.White .container-fluit .row .col .page-nav .nav-item-a svg path {
  fill: #000;
}

.page-navigation.White .container-fluit .row .col-auto #btn-pn-more {
  border: 1px solid #e6e6e6;
}

.page-navigation.White .container-fluit .row .col-auto #btn-pn-more svg g path {
  fill: #000;
}

/* 배너 */
#banner {
  position: relative;
}

#banner .swiper-slide h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 82px;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

#banner .btn-quick a {
  position: absolute;
  left: 50%;
  bottom: -25px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #93c11f;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#banner .btn-quick a img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 20px;
}

#banner .swiper-pagination .icon-pause {
  position: absolute;
  left: 50%;
  top: 3px;
  margin-left: 78px;
  width: 30px;
}

#banner .swiper-pagination .icon-play {
  position: absolute;
  left: 50%;
  top: 3px;
  margin-left: 78px;
  width: 30px;
}

/* 뉴스 */
#news {
  padding: 115px 0;
  text-align: center;
}

#news h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
}

.notice .swiper-slide:nth-child(even) {
  margin-top: 100px;
}

.notice .swiper-slide {
  width: 458px;
}

.notice .swiper-slide .info {
  position: relative;
  text-align: left;
  padding: 30px 40px;
}

.notice .swiper-slide .info h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.notice .swiper-slide .info time {
  font-size: 14px;
  color: #999;
}

.notice .swiper-slide .info a {
  position: absolute;
  right: 40px;
  bottom: 30px;
  text-transform: uppercase;
  color: #999;
  padding-right: 40px;
  display: none;
}

.notice .swiper-slide .info a:before {
  content: '';
  width: 30px;
  height: 2px;
  background: #ca0202;
  position: absolute;
  right: 0;
  top: 8px;
}

.notice .swiper-slide .info a:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ca0202;
  position: absolute;
  right: 0;
  top: 6px;
}

.notice .swiper-slide:hover a {
  display: block;
}

.notice .notice-btn {
  font-size: 18px;
  font-weight: bold;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.notice .notice-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* 인트로 */
#intro {
  padding: 100px;
}

#intro h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.intro {
  text-align: center;
}

.intro .intro-img {
  margin: -5% 5% 0 5%;
}

.intro .intro-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.intro .intro-intro div {
  padding: 45px 20px;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #d70000;
  text-align: center;
}

.intro .intro-intro div h3 {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 30px;
}

.intro .intro-intro div p {
  font-size: 22px;
  color: #4545;
}

.intro .intro-btn {
  font-size: 18px;
  font-weight: bold;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.intro .intro-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* 스토리 */
#story {
  background: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 200px;
}

#story h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.story {
  position: relative;
  padding-top: 130px;
}

.story .story-frame {
  width: 300px;
  height: 600px;
  border: 10px solid #000;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.story .swiper-slide {
  width: 340px;
}

.story .swiper-slide .simg {
  width: 263px;
  height: 263px;
  margin: 0 auto;
}

.story .swiper-slide .stxt {
  padding: 40px;
}

.story .swiper-slide .stxt h3 {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  display: inline;
  margin-bottom: 5px;
}

.story .swiper-slide .stxt p {
  font-size: 20px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 100;
}

.story .swiper-slide .stxt time {
  color: #888;
  font-weight: 100;
}

.story .swiper-slide:nth-child(1) .simg {
  background: url(../img/tbanner1.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(2) .simg {
  background: url(../img/tbanner2.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(3) .simg {
  background: url(../img/tbanner3.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(4) .simg {
  background: url(../img/tbanner4.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(5) .simg {
  background: url(../img/tbanner5.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(6) .simg {
  background: url(../img/tbanner6.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(7) .simg {
  background: url(../img/tbanner7.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(8) .simg {
  background: url(../img/tbanner8.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(9) .simg {
  background: url(../img/tbanner9.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(10) .simg {
  background: url(../img/tbanner10.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(11) .simg {
  background: url(../img/tbanner11.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(12) .simg {
  background: url(../img/tbanner12.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(13) .simg {
  background: url(../img/tbanner13.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(14) .simg {
  background: url(../img/tbanner14.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(15) .simg {
  background: url(../img/tbanner15.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(16) .simg {
  background: url(../img/tbanner16.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(17) .simg {
  background: url(../img/tbanner17.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(18) .simg {
  background: url(../img/tbanner18.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(19) .simg {
  background: url(../img/tbanner19.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(20) .simg {
  background: url(../img/tbanner20.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(21) .simg {
  background: url(../img/tbanner21.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(22) .simg {
  background: url(../img/tbanner22.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(23) .simg {
  background: url(../img/tbanner23.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(24) .simg {
  background: url(../img/tbanner24.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(25) .simg {
  background: url(../img/tbanner25.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(26) .simg {
  background: url(../img/tbanner26.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(27) .simg {
  background: url(../img/tbanner27.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(28) .simg {
  background: url(../img/tbanner28.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(29) .simg {
  background: url(../img/tbanner29.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(30) .simg {
  background: url(../img/tbanner30.jpg) no-repeat center center;
  background-size: cover;
}

/* world */
#world {
  padding: 100px 0;
  background: url(../img/world.png) no-repeat center top 220px;
}

#world h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

#world .world {
  text-align: center;
  margin-top: 200px;
}

#world .world .world-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

#world .world .world-text .management-item {
  padding: 45px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#world .world .world-text .management-item .subject {
  font-size: 23px;
  color: #fff;
  width: 190px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#world .world .world-text .management-item .subject strong {
  position: absolute;
  bottom: 80px;
  left: 50px;
}

#world .world .world-text .management-item .subject .stronga {
  position: absolute;
  bottom: 60px;
  left: 50px;
}

#world .world .world-text .management-item .info {
  padding-bottom: 100px;
}

#world .world .world-text .management-item .info::before {
  content: '';
  display: block;
  border-bottom: 2px solid #ca0202;
  margin: 50px 0;
}

#world .world .world-text .management-item .info p {
  margin: 50px 0;
  font-size: 22px;
  color: #fff;
}

#world .world .world-btn {
  font-size: 18px;
  font-weight: bold;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#world .world .world-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* beand */
#beand {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 100px;
}

#beand .beand-h2 {
  background: #fff;
  padding-bottom: 100px;
}

#beand .beand-h2 h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  z-index: 10;
  position: relative;
}

#beand .brand-btn {
  font-size: 18px;
  font-weight: bold;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#beand .brand-btn:hover {
  background: #ca0202;
  color: #fff;
}

.mbrand {
  background: url(../img/beand.png);
  text-align: left;
}

.mbrand h3 {
  font-size: 96px;
  padding: 280px 0 280px 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.brand div {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.brand div h4 {
  border-top: 2px solid #ca0202;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 10px;
}

.brand div figure .img {
  margin: 30px 20px;
  background: #fff;
  display: block;
  border-radius: 50%;
}

.brand div figure figcaption {
  color: #777;
  font-size: 22px;
  line-height: 36px;
}

/* etc */
#etc {
  background-color: #555555;
}

.etc-list {
  width: 1200px;
  margin: 0 auto;
}

.etc-list .etc-item {
  width: 32.3%;
  padding: 50px 0;
  display: inline-block;
}

.etc-list .etc-item a {
  padding: 50px 0;
}

.etc-list .stock {
  margin-bottom: 30px;
}

.etc-list .stock a .span {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}

.etc-list .stock a strong {
  font-size: 46px;
  line-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  color: #fff;
}

.etc-list .stock a .li01 {
  margin-top: 30px;
  display: inline-block;
}

.etc-list .stock a .li01 span {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.etc-list .stock a .li01 .value {
  margin-left: 15px;
  position: relative;
}

.etc-list .stock a .li01 .value:before {
  content: '';
  display: inline-block;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #ec870c transparent;
  bottom: 6px;
  border-width: 0 4px 6px 4px;
}

.etc-list .stock a .li02 {
  position: relative;
  display: inline-block;
  padding-left: 41px;
}

.etc-list .stock a .li02 span {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.etc-list .stock a .li02 .value {
  margin-left: 15px;
}

.etc-list .stock a .li02 .value:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
  width: 0;
  height: 14px;
  border-right: 1px solid #6f6f6f;
}

.etc-list .stock a .li02 .value:after {
  content: '%';
}

.etc-list .store {
  border-left: 1px solid #6f6f6f;
  text-align: center;
}

.etc-list .store span {
  display: block;
  overflow: hidden;
  background-color: #494949;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 20px;
}

.etc-list .store span img {
  top: 50px;
  opacity: 0.6;
  margin: 0 auto;
}

.etc-list .store strong {
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0;
  color: #fff;
}

.etc-list .store p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}

/* footer */
#footer {
  border-top: 1px solid #e8e8e8;
}

#footer .container {
  position: relative;
}

#footer .container .footer {
  padding: 37px 40px 41px;
}

#footer .container .footer ul {
  margin-bottom: 25px;
}

#footer .container .footer ul li {
  display: inline-block;
}

#footer .container .footer ul li a {
  color: #000;
}

#footer .container .footer ul .footerli:before {
  content: "";
  height: 12px;
  margin: 0 15px;
  border-left: 1px solid #ddd;
}

#footer .container .footer ul .as {
  color: #539a00;
  font-size: 17px;
}

#footer .container .footer ul .ac {
  color: #ff6216;
  font-size: 17px;
}

#footer .container .footer .footerul li {
  margin-bottom: 20px;
  font-size: 15px;
}

#footer .container .footer .footeruz li {
  margin-bottom: 10px;
  font-size: 14px;
}

#footer .container .footer .footeruz li a {
  color: #666;
}

#footer .container .footer .footer-href {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

#footer .container .family-site {
  text-align: center;
  position: absolute;
  top: 12%;
  right: 0;
  width: 240px;
  height: 46px;
  border: 2px solid #e8e8e8;
  border-radius: 23px;
}

#footer .container .family-site span {
  position: absolute;
  top: 30%;
  right: 60%;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  font-weight: 600;
}

#footer .container .family-site span:before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: -150%;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  margin-top: -2px;
  border-width: 5px 5px 0 5px;
}

#footer .container .family-site .family-svg {
  margin-top: 70px;
}

#footer .container .family-site .family-svg a {
  width: 40px;
  margin-left: 16px;
  display: inline-block;
}

#footer .container .family-site .family-svg a img {
  width: 100%;
}

@media (max-width: 1220px) {
  .container {
    width: 100%;
  }
}

/******************************* N.LIVE *******************************************************/
/* 베너 */
#banner-live {
  padding-top: 180px;
}

#banner-live h2.title {
  width: 100%;
  font-size: 66px;
  font-weight: 600;
  text-align: center;
}

#banner-live .ban .swiper-slide {
  position: relative;
}

#banner-live .ban .swiper-slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#banner-live .ban .swiper-slide .swiper-info {
  position: relative;
  padding: 60px 40px 0;
}

#banner-live .ban .swiper-slide .swiper-info .n-cate {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 46px;
}

#banner-live .ban .swiper-slide .swiper-info .tit {
  position: absolute;
  top: 116px;
  font-size: 48px;
  color: #fff;
}

#banner-live .ban .slide01 {
  width: 85%;
  height: 700px;
  background: url(../img/banner01.jpg) no-repeat center;
  background-size: cover;
}

#banner-live .ban .slide02 {
  width: 85%;
  height: 700px;
  background: url(../img/banner02.jpg) no-repeat center;
  background-size: cover;
}

.banner {
  position: relative;
}

/* 헤시테그 */
.hashtag {
  text-align: center;
}

.hashtag ul {
  width: 100%;
  padding: 75px 0;
}

.hashtag ul li {
  margin: 10px 0;
  padding: 0 15px;
  display: inline-block;
}

.hashtag ul li a {
  text-align: center;
  font-size: 24px;
  border-radius: 36px;
  display: inline-block;
  color: #666;
  font-weight: 600;
  padding: 15px;
}

.hashtag ul li:nth-child(odd) a {
  background-color: #e0ecde;
  border: 2px solid #e0ecde;
}

.hashtag ul li:nth-child(odd) a:hover {
  background-color: #fff;
  border: 2px solid #c3d9ab;
}

.hashtag ul li:nth-child(even) a {
  background-color: #fff;
  border: 2px solid #c3d9ab;
}

.hashtag ul li:nth-child(even) a:hover {
  background-color: #e0ecde;
  border: 2px solid #e0ecde;
}

/* 메뉴 */
#nlive {
  text-align: center;
  margin-bottom: 30px;
}

#nlive .nlive-tabs ul {
  height: 100%;
  padding: 10px 0;
  margin: 0 30px;
  border-bottom: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
}

#nlive .nlive-tabs ul li {
  width: 10%;
  padding: 0 3.2%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

#nlive .nlive-tabs ul li a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  display: inline-block;
  color: #636262;
}

#nlive .nlive-tabs ul #tabs:before {
  content: "";
  height: 40%;
  border-left: 1px solid #ddd;
  position: absolute;
  left: 0;
  top: 30%;
}

#nlive .nlive-tabs ul .active a {
  color: #000;
}

#nlive .nlive-tabs ul .active:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -28%;
  left: 50%;
  background-color: #e6001e;
  border-radius: 50%;
}

#nlive .nlive-posts {
  margin-top: 50px;
}

#nlive .nlive-posts div div {
  display: inline-block;
  width: 30%;
  height: 337px;
  margin: 0 12px 60px 12px;
  position: relative;
}

#nlive .nlive-posts div div .img {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 45px;
}

#nlive .nlive-posts div div .hover {
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
}

#nlive .nlive-posts div div .hover .text {
  width: 100%;
  height: 100%;
  padding: 15% 7%;
}

#nlive .nlive-posts div div .hover .text samp {
  display: block;
  text-align: left;
}

#nlive .nlive-posts div div .hover .text .cate {
  width: 80%;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3%;
}

#nlive .nlive-posts div div .hover .text .desc {
  width: 80%;
  font-size: 24px;
}

#nlive .nlive-posts div div .hover .text .date {
  width: 80%;
  margin-top: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  color: #999;
  font-size: 16px;
}

#nlive .nlive-posts div div .hover:hover {
  opacity: 1;
}

#nlive .nlive-posts div .ALL1 {
  background: url(../img/nlive1-1.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL2 {
  background: url(../img/nlive1-2.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL3 {
  background: url(../img/nlive1-3.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL4 {
  background: url(../img/nlive1-4.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL5 {
  background: url(../img/nlive1-5.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL6 {
  background: url(../img/nlive1-6.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL7 {
  background: url(../img/nlive1-7.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL8 {
  background: url(../img/nlive1-8.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL9 {
  background: url(../img/nlive1-9.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL10 {
  background: url(../img/nlive1-10.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL11 {
  background: url(../img/nlive1-11.jpg) no-repeat center;
  background-size: cover;
}

#nlive .nlive-posts div .ALL12 {
  background: url(../img/nlive1-12.jpg) no-repeat center;
  background-size: cover;
}

#nlive .reply-more {
  margin: 40px auto;
  text-align: center;
}

#nlive .reply-more a {
  width: 165px;
  text-decoration: none;
  color: #000;
}

#nlive .reply-more a img {
  width: 50px;
  margin: 0 0 15px;
}

#nlive .reply-more a .listCnt {
  display: block;
  font-size: 17px;
  font-weight: 600;
}

/************************************* 고객지원 ********************************************/
/* jumbotron-header */
#jumbotron-header {
  padding-top: 150px;
  width: 100%;
  height: 545px;
  background: url(../img/main_visual_overview.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.babox2 {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.babox2:before {
  content: '';
  width: 43%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 28%;
  top: 125%;
  margin-top: 10px;
}

.babox2:after {
  content: '';
  width: 1px;
  height: 65%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 29%;
  top: 60%;
  margin-top: 10px;
}

.babox2 ul:before {
  content: '';
  width: 38%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 29.9%;
  top: 65%;
  margin-top: 10px;
}

.babox2 ul:after {
  content: '';
  width: 1px;
  height: 40%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 70%;
  top: 65%;
  margin-top: 10px;
}

.babox2 ul span {
  font-size: 64px;
  color: #fff;
  padding-left: 20%;
  display: block;
  padding-top: 20px;
  padding-bottom: 90px;
  font-weight: 500;
}

.babox2 ul span:before {
  content: '';
  width: 13px;
  height: 13px;
  background: #96c11f;
  position: absolute;
  left: 49.5%;
  top: 63%;
  border-radius: 50%;
  margin-top: 10px;
}

.babox2 ul li {
  display: block;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

.btn-quick {
  position: absolute;
  right: 50%;
  bottom: -4%;
  width: 50px;
  height: 50px;
  margin-right: -25px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.btn-quick a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 15px 13px 13px;
  color: #96c120;
  position: relative;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.btn-quick a svg {
  position: absolute;
  top: 6%;
  left: 6%;
}

/* article-overview */
#article-overview {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 100%;
  height: 159px;
}

.text-center {
  margin-bottom: 46px;
  position: relative;
}

.text-center p {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.text-center .header-heading {
  width: 900px;
  margin: 0 auto;
  padding-top: 36px;
  margin-bottom: 8px;
  text-align: center;
}

.text-center .header-heading .icon-call1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  text-align: center;
  background: #f4f4f4;
  border-radius: 50%;
  vertical-align: middle;
}

.text-center .header-heading .icon-call1 img {
  width: 28px;
  height: 28px;
  margin: 0 auto;
  padding-top: 27%;
}

.text-center .header-heading strong {
  display: inline-block;
  font-size: 60px;
  font-weight: normal;
  margin: 0 20px;
  vertical-align: middle;
}

.text-center .header-heading span {
  display: inline-block;
  font-size: 20px;
  color: #666;
  vertical-align: bottom;
  margin-bottom: 10px;
  font-weight: normal;
}

.text-center .header-heading:before {
  content: '';
  position: absolute;
  top: 30%;
  width: 16px;
  height: 16px;
  left: calc(50% - (11px));
  display: block;
  border-radius: 50%;
  background-color: #96c11f;
}

/* article-customer-overview */
#article-customer-overview {
  background: #f4f4f4;
  padding: 70px 0;
  margin-top: 50px;
  height: 960px;
  position: relative;
}

.customer-visual {
  height: 435px;
  background: url(../img/overview.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.contomer-text {
  position: absolute;
  padding-left: 80px;
  top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.contomer-text strong {
  font-size: 28px;
}

.contomer-text p {
  font-size: 18px;
  margin: 15px 0 40px 0;
}

.contomer-text .btn-outline-submit {
  width: 120px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 30px;
}

.contomer-text .btn-outline-submit:hover {
  background-color: #fff;
  color: #000;
}

.justify-content-center {
  background: #fff;
  padding: 50px 35px;
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
}

.justify-content-center .content-center-icon {
  display: inline-block;
  height: calc(100% - 90px);
  width: 29.3333%;
  padding: 0 20px;
  font-size: 18px;
  text-align: center;
}

.justify-content-center .content-center-icon img {
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
}

.justify-content-center .content-center-icon strong {
  font-size: 28px;
  margin-bottom: 10px;
}

.justify-content-center .content-center-icon p {
  margin-bottom: 10px;
}

.justify-content-center .content-center-icon a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #333333;
  width: 120px;
  margin-top: 20px;
}

.justify-content-center .content-center-icon a .btn-outline-submit {
  padding: 9px 30px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #000;
}

.justify-content-center .content-center-icon a .btn-outline-submit:hover {
  background: #000;
  color: #fff;
}

/* bonbox4 */
#bonbox4 {
  background-color: #f2f1de;
  padding-top: 100px;
  padding-bottom: 100px;
}

#bonbox4 .swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  position: relative;
}

#bonbox4 .swiper-container .swiper-pagination-bullets {
  top: 10px;
  display: none;
  position: relative;
}

#bonbox4 .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bonbox4 .swiper-container .swiper-wrapper a {
  width: 33.3333%;
}

#bonbox4 .swiper-container .swiper-wrapper a .img-container {
  height: 314px;
}

#bonbox4 .swiper-container .swiper-wrapper a .slide-1 {
  background: url(../img/overviews.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

#bonbox4 .swiper-container .swiper-wrapper a .slide-2 {
  background: url(../img/counseling.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

#bonbox4 .swiper-container .swiper-wrapper a .slide-3 {
  background: url(../img/qna.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

#bonbox4 .swiper-container .swiper-wrapper a .slide-4 {
  background: url(../img/factory_trip.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

#bonbox4 .swiper-container .swiper-wrapper a .slide-5 {
  background: url(../img/location.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

#bonbox4 .swiper-container .swiper-wrapper a samp {
  font-size: 24px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#bonbox4 .swiper-container .swiper-scrollbar {
  position: absolute;
  bottom: 20px;
  opacity: 1;
}

#bonbox4 .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
  padding: 10px;
  background-color: #97c222;
  position: absolute;
  top: -10px;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */