/*  reset */
* {margin: 0; padding: 0; font-size: 16px;}
a {text-decoration: none; color: #000;}
li {list-style: none;}
em {font-style: normal;}
.clearfix::before, .clearfix::after {content: ''; display: block; clear: both;}

/*  layout */
#wrap {width: 1000px; margin: 0 auto;}

/* header */
#header {}
#header h1 {float: left; padding: 15px 0 10px;}
#header h1 img {width: 110px;}
#header .nav {float: right;}
#header .nav ul li {position: relative; float: left; width: 140px; text-align: center;}
#header .nav ul li a {display: block; font-size: 18px; font-weight: bold; padding: 15px;}
#header .nav ul li a:hover {background: #ccc;}
#header .nav li ul.submenu {position: absolute; left: 0; top: 50px;}
#header .nav li ul.submenu li {}
#header .nav li ul.submenu li a {padding: 15px; background: #888;}
#header .nav li ul.submenu li a:hover {background: #666;}

/*  banner */
#banner {}
#banner img {width: 100%;}

/*  content1 */
#content1 {margin-top: 20px;}
#content1 .left {
    float: left; width: 49%; padding: 20px; 
    box-sizing: border-box; margin-right: 2%; 
    background: #f2f2f2 url(../images/icon1.jpg) no-repeat right center;
    background-size: 80px;
}
#content1 .left .tit {font-size: 20px; padding-bottom: 5px;}
#content1 .left .desc {font-size: 14px; color: #666; padding-bottom: 15px;}
#content1 .left .btn {
    background: url(../images/sicon1.gif) no-repeat;
    background-size: 20px;
    padding-left: 25px;
}
#content1 .right {
    float: right; width: 49%; padding: 20px; 
    box-sizing: border-box; margin-right: 0; 
    background: #f2f2f2 url(../images/icon2.jpg) no-repeat right center;
    background-size: 80px;
}
#content1 .right .tit {font-size: 20px; padding-bottom: 5px;}
#content1 .right .desc {font-size: 14px; color: #666; padding-bottom: 15px;}
#content1 .right .btn {
    background: url(../images/sicon2.gif) no-repeat;
    background-size: 20px;
    padding-left: 25px;
}
#content1 .right .btn em {font-size: 12px; color: #999; font-style: normal;}


/* content2 */
#content2 {margin-top: 20px;}
#content2 h2 {font-size: 30px; padding-bottom: 20px;}
#content2 h2 em {font-size: 25px; color: #999;}
#content2 figure {float: left; width: 31.3333%; margin-right: 3%;}
#content2 figure:last-child {margin-right: 0;}
#content2 figure img {width: 100%;}
#content2 figure figcation {padding: 20px 0; font-weight: bold;}
#content2 figure figcation em {font-weight: normal;}

/*  footer */
#footer {margin-top: 20px; padding: 20px 0; background: #202020;}
#footer h2 {float: left; padding-left: 20px;}
#footer h2 img {width: 150px;}
#footer .foot {float: right; padding-right: 30px;}
#footer .foot ul {padding-bottom: 10px;}
#footer .foot ul li {display: inline;}
#footer .foot ul li a {color: #fff; padding-right: 10px;}
#footer .foot address {font-size: 12px; font-style: normal; color: #ccc;}


/* 

#banner img {width: 100%; margin-bottom: 20px;}


#content1 {margin-bottom: 50px;}
#content1 .cont-con1 {
    float: left; padding: 0 20px; 
    box-sizing: border-box; width: 49%; margin-right: 2%; 
    background: #f2f2f2; position: relative;
    background: url(../images/icon1.jpg) no-repeat;
}
#content1 .cont-con1 h3 {font-size: 16px;}
#content1 .cont-con1 p {font-size: 12px;}
#content1 .cont-con1 .icon1 {position: absolute; right: 30px; top: 30px; width: 70px;}
#content1 .cont-con1 a {font-size: 13px;}
#content1 .cont-con1 a.i {}

#content1 .cont-con2 {
    float: right; padding: 0 20px; 
    box-sizing: border-box; width: 49%; 
    background: #f2f2f2; position: relative;
}
#content1 .cont-con2 h3 {font-size: 16px;}
#content1 .cont-con2 p {font-size: 12px;}
#content1 .cont-con2 .icon1 {position: absolute; right: 30px; top: 30px; width: 70px;}
#content1 .cont-con2 a {font-size: 13px;}
#content1 .cont-con2 a.i {}


#content2 {}
#content2 h2 {}
#content2 .best {}
#content2 .best figure {display: inline-block; float: left; width: 32%; margin-right: 2%;} */
