#wrap {
  width: 100%;
  height: 3000px;
  font-family: 'Noto Sans KR', sans-serif;
}

#wrap #header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #header ul div {
  width: 130px;
  height: 40px;
  position: relative;
  padding: 10px 40px 10px 40px;
}

#wrap #header ul div:before {
  content: '';
  width: 180px;
  height: 5px;
  background: #ca0202;
  position: absolute;
  right: 10px;
  top: 30px;
  margin-top: 10px;
}

#wrap #header ul div:hover {
  display: block;
}

#wrap #header ul div a {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}

#wrap #header ul div:hover a li {
  color: #000;
}

#wrap #header ul div li {
  color: #999;
}

#wrap #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFF;
}

#wrap #nav h1 {
  width: 140px;
  margin: 18px 0 0 20px;
}

#wrap #nav h1 svg {
  fill: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#wrap #nav h1 svg:hover {
  fill: #000;
}

#wrap #nav .nav2 li {
  display: inline;
  position: relative;
}

#wrap #nav .nav2 li a {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  padding: 26px 20px;
  display: inline-block;
  font-weight: 600;
}

#wrap #nav .nav2 li a span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 0;
  width: 100%;
  border-top: 2px solid #d83832;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#wrap #nav .nav2 li.live a {
  padding: 4px 20px 6px 20px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 20px;
  font-weight: 600;
}

#wrap #nav .side-nav {
  margin-right: 40px;
}

#wrap #nav .side-nav li {
  display: inline;
}

#wrap #nav .side-nav li a {
  width: 25px;
  display: inline-block;
  padding: 28px 10px 20px 20px;
}

#wrap #banner .banner .babox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#wrap #banner .banner .babox1 .babox1:nth-child(1) {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

#wrap #banner .banner .babox1 .babox1:nth-child(2) {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

#wrap #banner .banner .babox1 .sabox1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

#wrap #banner .banner .babox1 .sabox1 .mbox1 img {
  width: 40px;
  height: 40px;
  fill: #fff;
}

#wrap #banner .banner .babox1 .sabox1 .mbox1 span {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  color: #fff;
}

#wrap #banner .banner .babox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#wrap #banner .banner .babox2:before {
  content: '';
  width: 33%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10;
  top: 310px;
  margin-top: 10px;
}

#wrap #banner .banner .babox2:after {
  content: '';
  width: 1px;
  height: 230px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 33.5%;
  top: 35%;
  margin-top: 10px;
}

#wrap #banner .banner .babox2 ul:before {
  content: '';
  width: 30%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 35.3%;
  top: 60%;
  margin-top: 10px;
}

#wrap #banner .banner .babox2 ul:after {
  content: '';
  width: 1px;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 64.7%;
  top: 60%;
  margin-top: 10px;
}

#wrap #banner .banner .babox2 ul span {
  font-size: 64px;
  color: #fff;
  padding-left: 100px;
  display: block;
  padding-top: 20px;
  padding-bottom: 90px;
  font-weight: 500;
}

#wrap #banner .banner .babox2 ul span:before {
  content: '';
  width: 13px;
  height: 13px;
  background: #96c11f;
  position: absolute;
  left: 50%;
  top: 57%;
  border-radius: 50%;
  margin-top: 10px;
}

#wrap #banner .banner .babox2 ul li {
  display: block;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

#wrap #banner .banner .babox2 ul p {
  display: block;
  font-size: 30px;
  color: #fff;
  padding-left: 100px;
}

#wrap #con2 {
  width: 100%;
  height: 1760px;
  background-color: #fff;
  margin-bottom: 100px;
}

#wrap #con2 .con2-1 {
  margin: 0 auto;
  background-color: #fff;
  width: 74.8%;
  height: 1760px;
}

#wrap #con2 .con2-1 .con2-2 {
  display: inline-block;
  margin: 0 auto;
  width: 292.5px;
  height: 440px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 0px;
}

#wrap #con2 .con2-1 .con2-2 .imgbox {
  margin: 0 auto;
  width: 262.5px;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.1);
}

#wrap #con2 .con2-1 .con2-2 .imgbox img {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  width: 175px;
  height: 224px;
}

#wrap #con2 .con2-1 .con2-2 .pdf-func .pdf-since {
  font-size: 18px;
  padding: 20px 0 20px;
  color: #444;
  font-weight: 700;
  position: relative;
}

#wrap #con2 .con2-1 .con2-2 .pdf-func .pdf-since::after {
  content: '';
  width: 1px;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -27%;
  left: 50%;
}

#wrap #con2 .con2-1 .con2-2 .pdf-func a {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
  color: #444;
  position: relative;
}

#wrap #con2 .con2-1 .con2-2 .pdf-func a::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -50%;
  left: 0%;
}

#wrap #con2 .con2-1 .con2-2 .pdf-func a i img {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
}

#wrap #bonbox4 {
  background-color: #f2f1de;
  padding-top: 100px;
  padding-bottom: 100px;
}

#wrap .swiper-container {
  padding-bottom: 100px;
  position: relative;
}

#wrap .swiper-container .swiper-pagination-bullets {
  top: 10px;
  display: none;
  position: relative;
}

#wrap .swiper-scrollbar {
  position: absolute;
  bottom: 20px;
  opacity: 1;
}

#wrap .swiper-scrollbar .swiper-scrollbar-drag {
  padding: 10px;
  background-color: #97c222;
  position: absolute;
  top: -10px;
  width: 100px;
}

#footer {
  position: relative;
  margin: 0 auto;
}

#footer .foo2 {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px 50px 50px 50px;
  width: 200px;
  height: 30px;
  position: absolute;
  right: 350px;
  top: 10px;
  display: inline-block;
  overflow: hidden;
}

#footer .foo2 span {
  padding-top: 5px;
  padding-left: 5px;
  width: 80%;
  float: left;
}

#footer .foo2 em {
  padding-top: 5px;
  width: 12%;
  float: right;
}

#footer .foobox1 {
  padding-left: 300px;
  position: relative;
}

#footer .foobox1 .foo1 {
  position: absolute;
  right: 330px;
  top: 70px;
}

#footer .foobox1 .foo1 img {
  width: 250px;
}

#footer .foobox1 ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

#footer .foobox1 ul li span {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  color: #666;
}

#footer .foobox1 ul li .sp1 {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.2);
}

#footer .foobox1 ul li p {
  padding: 5px;
  display: inline-block;
  color: #666;
}

#footer .foobox1 ul li em {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  color: #666;
}

#footer .foobox1 ul li .m1 {
  color: #539a00;
  font-weight: 900;
}

#footer .foobox1 ul li .m2 {
  color: #ff6216;
  font-weight: 900;
}

#footer .foobox1 ul li .m3 {
  font-weight: 900;
}
/*# sourceMappingURL=noo4.css.map */