/* reset */
* {margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {content: ''; display: block; clear: both;}

/* layout */
#wrap {width: 1200px; margin: 0 auto; color: #fff; text-align: center; font-weight: bold;}
#side {float: left; width: 200px;}
#content {float: left; width: 1000px;}

/* header */
#side .logo {width: 100%; height: 100px; background: #d1c4e9; line-height: 100px;}
#side .menu {width: 100%; height: 700px; background: #b39ddb; line-height: 700px;}

/* banner */
#banner {width: 100%; height: 400px; background: #9575cd; line-height: 400px;}

/* contents */
#contents > article {float: left; width: 33.33333%; height: 300px; line-height: 300px;}
#contents .cont1 {background: #7e57c2;}
#contents .cont2 {background: #673ab7;}
#contents .cont3 {background: #5e35b1;}

/* footer */
#footer {}
#footer .logo2 {float: left; width: 20%; height: 100px; background: #512da8; line-height: 100px;}
#footer .foot1 {float: left; width: 80%; height: 50px; background: #4527a0; line-height: 50px;}
#footer .foot2 {float: left; width: 80%; height: 50px; background: #311b92; line-height: 50px;}
